<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.plugin.mms"
      version="0.1.0">
    <name>Sms</name>
    <description>Cordova SMS Send Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,sms</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/sms.js" name="Mms">
        <clobbers target="window.mms" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mms">
                <param name="android-package" value="org.apache.cordova.plugin.mms.Mms"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
        </config-file>

        <source-file src="src/android/Mms.java" target-dir="src/org/apache/cordova/plugin/mms" />
    </platform>

</plugin>
